.globe-container {
  position: relative;
}

.land {
  fill: white;
  opacity: 0.5;
  stroke: #4f2291;
  stroke-opacity: 1;
}

.countries path {
  stroke: #4f2291;
  stroke-linejoin: round;
  stroke-width: 0.5;
  fill: #4f2291;
  opacity: 0.1;
  pointer-events: none;
}

.lines path {
  fill: none;
  stroke: #4f2291;
  stroke-opacity: 0.3;
  stroke-dasharray: 5, 5;
}

circle {
  stroke: #4f2291;
}

.graticule {
  fill: none;
  stroke: #4f2291;
  stroke-width: 0.5;
  opacity: 0.2;
}

.labels {
  font: 8px sans-serif;
  fill: black;
  opacity: 1;
  cursor: pointer;
}

.noclicks {
  pointer-events: none;
}

.point {
  opacity: 0.6;
}

.plane {
  position: absolute;
  width: 15px;
  height: 14px;
  background-image: url(/images/plane.svg);
  transition: offset-distance linear 8s;
  transform: rotate(-158deg);
  offset-distance: 100%;
  offset-distance: 0;
}
